.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 64px;
  font-size: 20px;
  font-weight: bold;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.menu-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-left: 35px;
  padding: 30px;
  background-color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.client-name {
  margin-left: 35px;
  margin-top: 80px;
  width: 30%;
}

.finalize-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.finalize-order-button {
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.finalize-order-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
