<mat-toolbar color="primary" class="page-header">
  <span>New Order</span>
</mat-toolbar>

<div class="menu-container">
  <mat-card class="menu-card" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Quantity</strong>
        <button mat-icon-button color="primary" (click)="decreaseQuantity(item)" [disabled]="item.quantity <= 0">
          <mat-icon>remove</mat-icon>
        </button>
        {{ item.quantity }}
        <button mat-icon-button color="primary" (click)="increaseQuantity(item)">
          <mat-icon>add</mat-icon>
        </button>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<mat-form-field class="client-name">
  <mat-label>Client name</mat-label>
  <input matInput [(ngModel)]="clientName">
</mat-form-field>

<mat-card-actions class="finalize-container">
  <button color="primary" class="finalize-order-button" mat-flat-button (click)="finalizeOrder()">
    Finalize order
  </button>
</mat-card-actions>
